<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wanjy.dannie.rivchat" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/fvai_icon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".FCAIBF"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeNoActionbar" />
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeNoActionbar" />

        <activity android:name=".ui.AddPost" />
        <activity android:name=".ui.AddImage" />
        <activity android:name=".ui.AddBook" />
        <activity
            android:name=".ui.addVideo"
            android:theme="@style/MyThemeNoActionbar" />
        <activity android:name=".ui.AddSound" />
        <activity android:name=".ui.CommentActivity" />
        <activity
            android:name=".ui.ImageViewerActivity"
            />
        <activity
            android:name=".ui.DecoderActivity"
            android:theme="@style/MyThemeNoActionbar" />





        <receiver android:name=".MyReciever" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.ServiceNotif"
            android:enabled="true"
            android:exported="true" />



        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
            tools:replace="android:resource"
            android:resource="@xml/provider_paths"/>
        </provider>


    </application>

</manifest>